*,  ::after,  ::before  {
    box-sizing:  border-box;
}
body {
  margin: 0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
  font-synthesis: none;  
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
  font-synthesis: none;  
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;   
  font-synthesis: none;  
}
@font-face {
  font-family: "Lato-regular";
  src: url("../font/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;  
  font-synthesis: none;  
}


html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
}
img,
svg {
    vertical-align: middle;
}
img {
  max-width: 100%;
}

.sc-title{
  width: 100%;
}
.w-100{
  display: inline-block;
  width: 100%;
}
._py{
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-center {
  text-align: center;
}

section{
  display: block;
}

.container { 
  width: 100%;
  max-width: 1908px;  
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;    
  padding-right: 10%;
}

header{
  background-color: #000;
  color: #e5e5e5;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  min-height: 321px;
}
h1 {
  font-size: 48px;
  margin: 0;
  letter-spacing: 1px;
}
h2, h3{
  font-family: "Montserrat", sans-serif;
  color: #191919;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 120%;
}
a{
  text-decoration: none;
}
.subtitle {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  word-spacing: 2px;
}
.blog-content{
  font-family: "Lato-regular";
  color: #333;
  font-size: 26px;
  padding-top: 60px;
  padding-bottom: 30px;
  line-height: 1.6;
}
.blog-content a{
  color: #4178e8;
}
.blog-content img {
  display: block;
  margin: 40px auto;
}
.contact{
  padding-bottom: 50px;
  font-family: "Lato-regular";
}
.contact a {
  color: #013CB3;
  display: block;
  margin-bottom: 9px;
  font-size: 24px;
}
@media (max-width: 576px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  h1 {
    font-size: 38px;
  }
  .subtitle{
    font-size: 22px;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 37px;
  }
  .blog-content p{
    font-size: 18px;
  }
  .contact a{
    font-size: 19px;
  }
}


.xab-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.xab-list a{
  transition: 0.4s ease
}
.xab-list a:hover{
  color: #01ac6a;
}
.xab-card {
  overflow: hidden;
  font-size: 16px;
  width: calc(33.333% - 23.5px); 
}
.xab-event{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.xab-event a{
  color: #01ac6a;
}
.xab-event a:hover{
  color: #202020;
}
.xab-event span{
  color: #92969a
}
.xab-content{
  padding-top: 27px;
}
.xab-media img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: 0.4s ease; 
}
.xab-media:hover img {
  filter: grayscale(0%);   
}
.xab-desc{
  font-size: 19px;
  line-height: 150%;
  display: inline-block;
  font-weight: 500;
  padding-bottom: 27px;
}
.xab-desc a{
  color:#000;
}
.xab-desc a:hover{
  color: #01ac6a;
}
.xab-author {
  display: inline-block;
  width: 100%;
}
.xab-author img{
  vertical-align: middle;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-right: 8px;
}
a.xab-author{
  color: #000;
  font-weight: 500;
}
.xab-author:hover{
  color: #01ac6a;
}
@media (max-width: 1439px) {
  .xab-list{
    gap: 20px;
  }
  .xab-content {
    padding-top: 20px;
  }
  .xab-card{
    font-size: 12px;
    width: calc(33.333% - 13.5px);
  }
  .xab-desc {
    font-size: 14px;
    padding-bottom: 18px;
  }
}
@media (max-width: 991px) {
  .xab-card{
    width:  calc(50% - 10px);
  }
}
@media (max-width: 767px) {
  .xab-list {
    gap: 30px 20px;
  }
  .xab-card{
    width: 100%;
  }
}



.case-item {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.case-item__title{
  display: inline-block;
  font-size: 26px;
  font-weight: 500;
  line-height: 135%;
  margin: 0 0 30px;
}
.case-item a{
  color: #000;
}
.case-item a:hover{
  text-decoration: underline;
}
.case-item__tags{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.case-item__tags li{
  display: inline-block;
}
.case-item__tags a {
    display: inline-block;
    border-radius: 2px;
    margin: 6px 6px 0 0;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    transition: all 200ms  ease;
    text-decoration: none !important;
    background: #F4F6F9;
    color: #181819;
}
.case-item__tags a:hover{
    color: #595959;
    background: #f1f1f1;
}
.case-item__link{
  color: #59575f;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  transition: all 300ms ease;
  text-decoration: none!important;
  margin-top: 60px;
  display: inline-block;
}
.case-item__link:hover{
color: #595959;
    transform: translateX(5px);
}
.case-item__link:hover span{
  transform: translateX(10px);
}
.case-item__link span {
    width: 24px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('data:image/svg+xml,<svg width="26" height="14" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 7L18 1M24 7L18 13M24 7H0" stroke="%2359575F" stroke-width="2"/></svg>');
    display: inline-block;
    margin: 0 0 -1px 14px;
    transition: all 400ms  ease;
}
.case-item__left{
  flex-shrink: 0;
  max-width: 500px;
}
.case-item__right{
  width: 100%;
  max-width: 790px;
}
.case-item__img-link{
  position: relative;
}
.case-item__shadow{
  content: '';
  z-index: -1;
  width: 90%;
  height: 90%;
  top: 5%;
  pointer-events: none;
  left: 5%;
  position: absolute;
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  transition: all 0.2s ease-out;
}
.case-item__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 330px;
  border-radius: 8px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  background-color: var(--bgColor);
  transition: all 0.2s ease-out;
}
.case-item__img-link:hover .case-item__img{
  transform: scale(1.1);
}
.case-item__img-link:hover .case-item__shadow{
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}
.case-item__img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 1280px) {
  .case-item{
    gap: 40px;
    margin-bottom: 60px;
  }
  .case-item__left{
    max-width: 384px;
  }
  .case-item__title{
    font-size: 20px;
    margin: 0 0 18px;
  }
  .case-item__link{
    font-size: 16px;
    margin-top: 38px;
  }
  .case-item__img{
    height: 240px;
  }
}
@media (max-width: 991px) {
    .case-item__left {
      max-width: 320px;
    }
    .case-item__title{
      font-size: 18px;
    }
    .case-item__link{
      margin-top: 20px;
      font-size: 14px;
    }
    .case-item__img {
      height: 170px;
      padding: 5px;
  }
}
@media (max-width: 767px) {
  .case-item{
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 20px;
  }
  .case-item__title{
    font-size: 17px;
  }
  .case-item__shadow{
    display: none;
  }
  .case-item:last-of-type{
    margin-bottom: 0;
  }
  .case-item__right{
    order: 1;
    max-width: 100%;
  }
  .case-item__left{
    order: 2;
    max-width: 100%;
  }
  .case-item__img{
    height: 200px;
  }
  .case-item__img-link:hover .case-item__img{
    transform: none;
    opacity: 0.8;
  }
  .case-item__tags a {
    margin: 4px 4px 0 0;
    padding: 6px 8px;
    font-size: 12px;
  }
}

.suppliers__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px 40px;
}
.supplier-logo {
  flex: 0 1 18%;
  max-width: 18%;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supplier-logo img {
  max-width: 220px;
  max-height: 110px;
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(20%);
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .supplier-logo {
    flex: 0 1 30%;
    max-width: 120px;
    min-height: 78px;
  }
  .suppliers__grid{
    gap: 22px 20px;
  }
}


.calendar{
  background: #f4f7f7;
}
.calendar .container.other{
  padding-right: 0;
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  gap: 30px;
}
.calendar__header h2 {
  color: #222;
  margin: 0;
}
.calendar__header a {
  font-size: 16px;
  color: #01ac6a;
  font-weight: 600;
  text-decoration: none;
}
.calendar-wrap{
  background-color: #fff;
}
.calendar__items {
  display: flex;
  flex-direction: column;
}
.calendar__item {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  gap: 40px;
  position: relative;
  transition: 0.3s ease;
}
.calendar__item::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 80px);
  left: 40px;
  height: 1px;
  background-color: #e0e0e0;
}
.calendar__item:last-of-type:before{
  display: none;
}
.calendar__item:hover{
  background-color: #f4f7f7;
}
.calendar__item:hover .calendar__subtitle{
  color: #01ac6a;
}
.calendar__item:hover .calendar__photo{
  filter: none;
}
.calendar__item a > *{
  transition: 0.3s ease;

}
.calendar__item .icon-arrow {
    width: 38px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 38 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="%23202020" d="M37.1093 6.53033C37.4022 6.23744 37.4022 5.76256 37.1093 5.46967L32.3363 0.696699C32.0434 0.403806 31.5685 0.403806 31.2756 0.696699C30.9828 0.989593 30.9828 1.46447 31.2756 1.75736L35.5183 6L31.2756 10.2426C30.9828 10.5355 30.9828 11.0104 31.2756 11.3033C31.5685 11.5962 32.0434 11.5962 32.3363 11.3033L37.1093 6.53033ZM0 6.75L36.5789 6.75V5.25L0 5.25L0 6.75Z"></path></svg>');
    display: inline-block;
    position: relative;
    margin-left: 8px;
    top: 2px;
    transition: all 400ms  ease;
}
.calendar__narrator {
  display: flex;
  width: 33%;
  flex-shrink: 0;
  align-items: center;
  gap: 15px;
}
.calendar__photo{
  filter: grayscale(100%);
  transition: 0.3s ease;
  flex-shrink: 0;
}
.calendar__photo img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background: none no-repeat 50% 50%;
    background-size: cover;
}
.calendar__info {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.calendar__name {
  font-weight: 600;
  font-size: 19px;
  color: #222;
}
.calendar__position {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.calendar__theme {
  display: inline-block;
  text-decoration: none;
  color: #333;
  width: 42%;
  font-size: 22px;
}
.calendar__title {
  font-weight: 700;
  margin-bottom: 3px;
}
.calendar__subtitle {
  font-size: 18px;
}
.calendar__subtitle:hover{
  color:#01ac6a;
}
.calendar__date {
  text-align: right;
  margin-left: auto;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.calendar__day {
    font-weight: 700;
    text-align: right;
}
@media (min-width: 992px) {
  .calendar{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 577px) {
  .calendar__header{
    padding-right: 40px;
  }
}
@media (max-width: 991px) {
  .calendar__header{
    padding-right: 15px;
    flex-wrap: wrap;
  }
  .calendar__item{
    padding: 15px 15px;
    gap: 25px;
  }
  .calendar__item::before{
    left: 15px;
    width: calc(100% - 30px);
  }
  .calendar__photo img{
    width: 45px;
    height: 45px;
  }
  .calendar__name{
    font-weight: 500;
    font-size: 14px;
  }
  .calendar__position{
    font-size: 13px;
    font-weight: 400;
  }
  .calendar__theme,
  .calendar__subtitle,
  .calendar__date{
    font-size: 14px;
  }
  .calendar__item .icon-arrow{
    display: none;
  }
}
@media (max-width: 767px) {
  .calendar__header{
    gap: 15px;
  }
  .calendar__header a{
    font-size: 14px;
  }
  .calendar__item{
    flex-wrap: wrap;
    gap: 0px;
  }
  .calendar__narrator{
    width: calc(100% - 120px);
    gap: 10px;
  }
  .calendar__date{
    order: 2;
    max-width: 100px;
    flex-shrink: 0;
  }
  .calendar__theme{
    order: 3;
    width: 100%;
    margin-top: 15px;
  }
  .calendar__subtitle{
    font-weight: 500;
  }
  .calendar__name{
    font-size: 13px;
  }
  .calendar__position{
    font-size: 12px;
  }
  .calendar__theme, .calendar__subtitle {
      font-size: 12px;
  }
  .calendar__date{
    font-size: 11px;
  }
}

.rating__list{
  display: flex;
  margin: 0;
  flex-direction: column;
  padding-left: 0;
}
.rating__item {
    margin: 0;
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}
.rating__item:not(:last-child) {
    border-bottom: 1px solid #e1e5eb;
}
.rating__item-icon {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating__item-icon.gold svg {
    fill: #fdce01;
}
.rating__item-icon.silver svg {
    fill: #c6c4c5;
}
.rating__item-icon.bronze svg {
    fill: #e2a676;
}
.rating__item-value {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.01em;
    color: #201d26;
    white-space: nowrap;
}
.rating__item-about {
    flex: 1 1 auto;
    margin: 0 0 0 8px;
    transition: 0.3s ease;
    font-size: 20px;
    line-height: 1.22222;
    font-weight: 500;
}
.rating__item-about:hover p,
.rating__item-about:hover{
  color: #01ac6a;
}
.rating__item-about p {
    color: #201d26;
    margin-bottom: 0;
    transition: 0.3s ease;
}
.rating__item-date {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    color: #b8bdc2;
    margin: 0 0 0 auto;
}
@media (max-width: 991px) {
  .rating__item-value,
  .rating__item-about{
    font-size: 17px;
  }
  .rating__item-date{
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .rating__item{
    padding: 12px 0;
    flex-wrap: wrap;
    gap: 8px;
  }
  .rating__item-icon {
      flex: 0 0 24px;
  }
  .rating__item-icon svg{
    width: 24px;
    max-height: 24px;
  }
  .rating__item-about{
    order: 3;
    width: 100%;
    padding-left: 32px;
    margin-left: 0;
  }
  .rating__item-value, .rating__item-about{
    font-weight: 600;
    font-size: 14px;
  }
  .rating__item-date{
    font-size: 14px;
  }
}

.directions{

  background-color: #1a1a1a;
  border-radius: 50px;
  color: #fff;
}
.direction-wrap{
  display: flex;
  width: 100%;
  gap: 40px;
}
.direction-left{
  max-width: 320px;
  width: 100%;
  flex-shrink: 0;
}
.direction-right{
  width: 100%;
}
.direction-title{
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.direction-item{
  display: block;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: solid 1px rgba(163, 171, 184, 0.251);
}
.direction-item:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.direction-item__title{
  font-size: 28px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
.direction-item__lists{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.direction-item__list{
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  font-size: 18px;
  width: calc(33.333% - 27px);
  letter-spacing: 0.1px;
  color: #a3abb8;
}
.direction-item__list .num{
  position: absolute;
  top: 0;
  left: 0;
  color: var(--numColor);
}
.direction-item__list a{
  color: #a3abb8;
}
.direction-item__list a:hover{
  color: #01ac6a;
}
.direction-item__list li{
  position: relative;
  display: block;
  margin-bottom: 19px;
  padding-left: 40px;
}
@media (min-width: 1200px) {
  .directions{
      padding-top: 120px;
  padding-bottom: 120px;
  }
  .directions .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 1199px) {
  .direction-wrap{
    flex-wrap: wrap;
  }
  .direction-item__lists{
    gap: 0px;
  }
  .direction-item__list{
    width: 100%;
  }
  .direction-item__title{
    font-size: 23px;
  }
}
@media (max-width: 767px) {
  .directions{
    border-radius: 25px;
  }
  .direction-wrap{
    gap: 0px;
  }
  .direction-title{
    font-size: 21px;
  }
  .direction-item {
    padding-bottom: 15px;
    margin-bottom: 29px;
  }
  .direction-item__title {
        font-size: 20px;
    }
    .direction-item__list{
      font-size: 15px;
    }
    .direction-item__list li{
      padding-left: 30px;
    }
} 