*,  ::after,  ::before  {
    box-sizing:  border-box;
}
body {
  margin: 0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
  font-synthesis: none;  
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;   
  font-synthesis: none;  
}
@font-face {
  font-family: "Lato-regular";
  src: url("../font/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;  
  font-synthesis: none;  
}


html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
}
img,
svg {
    vertical-align: middle;
}
img {
  max-width: 100%;
}

section{
  display: block;
}

.container { 
  max-width: 1908px;  
  margin: 0;     
  padding-left: 10%;    
  padding-right: 10%;
}

header{
  background-color: #000;
  color: #e5e5e5;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  min-height: 321px;
}
h1 {
  font-size: 48px;
  margin: 0;
  letter-spacing: 1px;
}
h2, h3{
  font-family: "Montserrat", sans-serif;
  color: #191919;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 120%;
}
a{
  text-decoration: none;
}
.subtitle {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  word-spacing: 2px;
}
.blog-content{
  font-family: "Lato-regular";
  color: #333;
  font-size: 26px;
  padding-top: 60px;
  padding-bottom: 30px;
  line-height: 1.6;
}
.blog-content a{
  color: #4178e8;
}
.blog-content img {
  display: block;
  margin: 40px auto;
}
.contact{
  padding-bottom: 100px;
  font-family: "Lato-regular";
}
.contact a {
  color: #013CB3;
  display: block;
  margin-bottom: 9px;
  font-size: 24px;
}
@media (max-width: 576px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  h1 {
    font-size: 38px;
  }
  .subtitle{
    font-size: 22px;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 37px;
  }
  p{
    font-size: 18px;
  }
  .contact a{
    font-size: 19px;
  }
}